<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<h4>Category:</h2>
<% @post.categories.each do |category| %>
  <%= category.name %>
<% end %>

<h4>Users:</h4>
<% @post.users.uniq.each do |user| %>
  <%= link_to user.username, user %>
<% end %>
  
<h4>Comments:</h4>  
<% @post.comments.each do |comment| %>
  <p><%= comment.user.username %> says: <%= comment.content %></p>
<% end %>

<h4>New Comment:</h4>
<%= form_for @post.comments.build do |f| %>
  <%= f.label "Content:" %>
  <%= f.text_field :content %>
  <br>
  <%= f.label "Select a User:" %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: 'Select a User' %>
  <%= f.hidden_field :post_id %>
  <br>
  <%= f.label "New User:" %>
  <%= f.fields_for :user, @post.comments.last.build_user do |user_fields| %>
    <%= user_fields.text_field :username %>
  <% end %>
  <%= f.submit %>
<% end %>